{% if image != blank %}
  {%- assign image_size = 2000 -%}{% if width != blank %}{% assign image_size = width %}{% endif %}
  {%- assign image_size_mobile = 800 -%}{% if width_mobile != blank %}{% assign image_size_mobile = width_mobile %}{% endif %}
  {%- assign css_class = "" -%}{% if class != blank %}{% assign css_class = class %}{% endif %}
  {%- assign poi_x = 50 -%}{% if image.presentation.focal_point.x != blank %}{% assign poi_x = image.presentation.focal_point.x %}{% endif %}
  {%- assign poi_y = 50 -%}{% if image.presentation.focal_point.y != blank %}{% assign poi_y = image.presentation.focal_point.y %}{% endif %}
  {% if background == true %}
    <div class="background-image lazyload {{ css_class }}"
         style="background-position: {{ poi_x }}% {{ poi_y }}%;"
         data-bg="{{ image | image_url: width: image_size }}"
         data-bg-mobile="{{ image | image_url: width: image_size_mobile }}"
         aria-label="{{ image.alt | escape }}">
   </div>
  {% else %}
    <img class="{{ css_class }} lazyload"
         data-src="{{ image | image_url: width: image_size }}"
         data-src-mobile="{{ image | image_url: width: image_size_mobile }}"
         alt="{{ image.alt | escape }}">
  {% endif %}
{% endif %}
