<section id="MainProduct-{{ section.id }}" class="page-width section-{{ section.id }}-padding" data-section="{{ section.id }}">
  <div class="site-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          Find me in sections/main-product.liquid
        </div>
      </div>
      <div class="row">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}
        <div class="col-md-6">
          {% render 'product-gallery', product: product, identifier: section.id %}
        </div>
        <div class="col-md-6">
          <h1>{{ product.title }}</h1>
          <div class="product-price-wrapper" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
            {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
          </div>
          {% if product.variants.size > 1 %}
            {% render 'product-variant-picker', product: product, product_form_id: section.id, picker_type: 'button', update_url: false %}
          {% endif %}
          {% render 'product-form', product: product, product_form_id: section.id %}
        </div>
      </div>
    </div>
  </div>

  {% render 'schema-product', product: product %}
</section>

{% schema %}
{
  "name": "Main Product",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "settings": []
}
{% endschema %}
